<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SVG Gallery</title>
    <%- style %>
  </head>
  <body>
    <div class="gallery-container">
      <input class="d-none" type="radio" id="light-window" name="image-window" checked />
      <div class="window-label-container">
        <button id="light-window-label" class="window-label">Light Window</button>
        <div class="flag"></div>
      </div>
      <input class="d-none" type="radio" id="dark-window" name="image-window" />
      <div class="window-label-container">
        <button id="dark-window-label" class="window-label">Dark Window</button>
        <div class="flag"></div>
      </div>
      <ul class="gallery">
        <%_ sections.forEach((e) => { _%>
        <li><%- e %></li>
        <%_ }) _%>
      </ul>
    </div>
    <script>
      document.querySelector('#light-window-label').onclick = () => document.querySelector('#light-window').click();
      document.querySelector('#dark-window-label').onclick = () => document.querySelector('#dark-window').click();
    </script>
  </body>
</html>
