<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SVG Gallery</title>
    <%- style %>
  </head>
  <body>
    <div class="gallery-container">
      <input class="d-none" type="radio" id="light-frame" name="image-frame" checked />
      <div class="frame-label-container">
        <button id="light-frame-label" class="frame-label">Light</button>
        <div class="flag"></div>
      </div>
      <input class="d-none" type="radio" id="dark-frame" name="image-frame" />
      <div class="frame-label-container">
        <button id="dark-frame-label" class="frame-label">Dark</button>
        <div class="flag"></div>
      </div>
      <ul class="gallery">
        <%_ sections.forEach((e) => { _%>
        <li><%- e %></li>
        <%_ }) _%>
      </ul>
    </div>
    <script>
      document.querySelector('#light-frame-label').onclick = () => document.querySelector('#light-frame').click();
      document.querySelector('#dark-frame-label').onclick = () => document.querySelector('#dark-frame').click();
    </script>
  </body>
</html>
