<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SVG Gallery</title>
    <%- style %>
  </head>
  <body class="gallery-container">
    <input class="state" type="radio" id="light-window" name="main-window" checked />
    <label class="window-label light-window-label" for="light-window">Light Window</label>
    <label class="window-label dark-window-label" for="dark-window">Dark Window</label>
    <input class="state" type="radio" id="dark-window" name="main-window" />
    <ul class="gallery">
      <%_ sections.forEach((e) => { _%>
      <li><%- e %></li>
      <%_ }) _%>
    </ul>
  </body>
</html>
