:root {
  --light-color: #f2f2f2;
  --dark-color: #262626;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.fs-xx-small {
  font-size: xx-small;
}
.ta-right {
  text-align: right;
}
.input-text {
  width: 100%;
  padding: 2px;
  cursor: auto;
  border: none;
  color: var(--vscode-editor-foreground);
}
.text-align-center {
  text-align: center;
}
.padding-4 {
  padding: 4px;
}
.padding-2 {
  padding: 2px;
}
.margin-top-2 {
  margin-top: 2px;
}
.margin-bottom-16 {
  margin-bottom: 16px;
}
.outline-none:focus {
  outline: none;
}
.bc-transparent {
  background-color: transparent;
}
.d-flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.d-flex-row-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.d-block {
  display: block;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.t-0-r-0-b-0-l-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.w-64-h-64 {
  width: 64px;
  height: 64px;
}
.fg-1 {
  flex-grow: 1;
}
.margin-right-5 {
  margin-right: 5px;
}
.cursor-pointer {
  cursor: pointer;
}
.border-1-editor-foreground {
  border: 1px solid var(--vscode-editor-foreground);
}
#gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery {
  width: 100%;
}
.frame-label-container {
  margin: 5px;
}
.frame-label {
  display: block;
  border: 1px solid var(--vscode-editor-foreground);
  width: 112px;
  padding: 2px 10px;
  border-radius: 10px;
}
#light-frame-label {
  color: var(--dark-color);
  background-color: var(--light-color);
}
#dark-frame-label {
  color: var(--light-color);
  background-color: var(--dark-color);
}
.flag {
  position: absolute;
  top: 6px;
  left: 8px;
  border-radius: 10px;
  border: 5px solid;
  border-color: transparent;
}
input[type="radio"]:checked + .frame-label-container .flag {
  border-color: #a076c4;
}
input[type="radio"]#light-frame:checked ~ .gallery .img-container {
  background-color: var(--light-color);
}
input[type="radio"]#dark-frame:checked ~ .gallery .img-container {
  background-color: var(--dark-color);
}
.svg-container:hover > .action {
  display: flex !important;
}
.action > button.open {
  cursor: pointer;
  font-size: small;
  padding: 5px;
  border: none;
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
}
